<!-- <h1 style="text-align: center;">Hello world</h1>
<h6 id="h6id">this is first shivaji programed</h6>
<h2 id="h2tag">My Details</h2>
<div><label>Customer name:</label><input type="text"></div>
<div><label>Customer Address:</label><input type="text"></div>
<div><label>Mobile No: </label><input type="text" maxlength="10"></div>
<div><button class="buttoncss" type="submit">Submit</button></div>

<h2 id="h2tag">Person Names:</h2>
<ul>
    <li>shivaji</li>
<li>shejal </li>
<li>kiran</li>
</ul>
<h2 id="h2tag">Orderd list</h2>
<Ol type="1" style="color: orange" >
<b><li>shivaji</li>
<li>shejal</li>
<li>kiran</li></b>
</Ol>
<h2 id="h2tag">Using Table</h2>
<table class="tbclass">
<tr>
<th>First name</th>
<th>Last name</th>
<th>Mobile no </th>
</tr>
<tr>
    <td>Shivaji</td>
    <td>kshirsagar</td>
    <td>9552262541</td>
</tr>
<tr>
    <td>Sandip</td>
    <td>kshirsagar</td>
    <td>7745014023</td>
</tr>

</table>
 -->

 <!-- <table>
     <tr>
         
             <th>firstname</th>
             <th>address</th>
             <th>mobile</th>
         
     </tr>
     <tr *ngFor="let item of studentdetails">
     <td>{{item.firstname | uppercase}}</td>
     <td>{{item.address}}</td>
     <td>{{item.mobile}}</td>
    </tr>

 </table> -->


<h1>hello angular</h1>

<!-- <form #login="ngForm">
    <div class="form-group">
        <label>Username</label>
        <input [(ngModel)]="name" class="form-control" name="username" #username="ngModel">
</div>
<div class="form-group">
    <label>Password:</label>
    <input [(ngModel)]="password" class="form-control" class="password" #password1="ngModel">
</div>
<p>Username:{{username.value}}</p>
<p>password:{{password1.value}}</p>
<p>Form json:{{login.value | json}}</p>
</form> -->
<!-- <app-parent></app-parent>
<app-form></app-form> -->
<!-- <h2 id="h2tag">Person Names:</h2> --> 
<!-- <app-parent></app-parent> -->
<!-- {{messageFromParent}} -->
<!-- <app-login></app-login> -->
<!-- <app-loginerror></app-loginerror>
<app-verifylogin></app-verifylogin> -->
<!-- <app-newroute></app-newroute> -->
<!-- <app-parent></app-parent> -->

<!-- inbuild directive   ngStyle -->
<!-- <div [ngStyle]="mystyle"> Angular tutorial of inbuild directives</div>
<p [ngStyle]="paracolor">Built in directives, Atttribute directives, Input and output revsion</p> -->
<!-- inbuild directive -->
<!-- <app-login></app-login>
<router-outlet></router-outlet>-->
<!-- <app-mocktask></app-mocktask> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-parent></app-parent> -->

<!-- <app-reactivenew></app-reactivenew> -->
<!-- <app-test></app-test> -->
<!-- <app-http1></app-http1>

<app-loginfolio></app-loginfolio>
<app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-eventdata></app-eventdata> -->
<router-outlet></router-outlet>