<p>products works!</p>

<div class="container" >
    <form [formGroup]="Proddetails">
        <div>
            <label>Name</label>
            <input class="form-control" name="Username" formControlName="Username" required>
        </div>

        <div><label for="Product name">Product name</label>
            <input class="form-control" name="Productname" formControlName="Productname" required>
        </div>
        <div>
            <label for="Description">Description</label>
            <input class="form-control" name="Description" formControlName="Description" required>
        </div>
        <div>
            <label for="Price">Price</label>
            <input class="form-control" name="Price" formControlName="Price" required>
        </div>
        <div>
            <label for="Quantity">Quantity</label>
            <input class="form-control" name="Quantity" formControlName="Quantity" required>
        </div>
 
        <button (click)="Submit(Proddetails.value)">Submit</button>
    </form>
</div>


<!-- Sagar Dharmshetti1:41 PM
this.id = this.route.snapshot.params['id'];
  
      console.table('id-', this.id)
Sagar Dharmshetti2:01 PM
user:Users[] = [] ;
Sagar Dharmshetti2:05 PM
createForm(){
    this.studentDetails = this.fb.group({
      id: [],
      Name: [''],
      Education: [''],
      City: [],
      Pincode: []
    })
  } -->